<div class="container text-center">
    <form action="/" method="post">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p><strong>Please enter a registration plate:</strong></p>

                {{#if messages.error}}
                  <div class="alert alert-danger" role="alert">
                      {{messages.error}}
                  </div>
                {{/if}}

                <div class="input-group centre-block">
                    <input type="text" class="form-control text-center" name="takeReg">
                    <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Add</button>
                    </span>
                </div>
            </div>
        </div>

        <!--Dropdown list  -->
        <div class="row bg-light">
            <div class="col-md-12 pull-right">
                <select class="custom-select d-block my-1 float-right" name="filter">
                  <option value="all">All registration plates</option>
                  <option value="ca">Cape Town</option>
                  <option value="cj">Paarl</option>
                  <option value="cl">Stellenbosch</option>
                </select>
            </div>
        </div>
        <!-- </div>Dropdown list ends   -->
        <hr>
    </form>

    <!-- /line-->
    <!--My number plate tempate starts  -->

    <div class="row">
      {{#each regPlate}}
          <div class="col-md-3 col-lg-2 mt-4">
              <li id="disk">{{regNum}}</li>
          </div>
      {{/each}}
  </div>
</div>
<!--Number plates ends  -->
